extends layout

block layout-content
    header
        div.title
            span Perry Morrison
    div.banner
        img(src='https://images.unsplash.com/photo-1609220136736-443140cffec6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')
    div.one-col
        h1 You have recieved a new message from #{name}
        p   Here is the information that #{name} send you.
        ul.list
            li Name: 
            li.formInfo #{name}
                li Email: 
                li.formInfo #{email}
                li Coverage
                li.formInfo #{coverage}
                li Message
                li.formInfo #{message}
        p A email has been send to name
        hr
        footer 
            ul.contact 
                li Logan UT
                li 1234n 123w ,84321
                li perris@gmial.com