extends layout

block layout-content
    header
        div.title
            span Perry Morrison
    div.banner
        img(src="family.jpg", alt="juliane-liebermann")
    div.one-col
        h1 Thanks For Choosing Me
        p  Hello, #{name} we just receive your message. I wanted to thank you for chosse me as an option for your problem. Here is the information that you send me.
        ul.list
            li Name: 
            li #{name}
            li Email: 
            li #{email}
            li Coverage
            li #{covereage}
            li Message
            li #{message}
        p We will be sending a relpy within 24 hours.
        hr
        footer 
            ul.contact 
                li Logan UT
                li 1234n 123w ,84321
                li perris@gmial.com